.cardHolderGold {
    height:35vh;
    width:calc(35vh * 0.8);
    background-image: url('cardbg_gold.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 5px white);

    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    flex-direction: column;
    align-items: center;

    font-size: 3vh;

}


.cardHolderOuter{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.leftSide{
    width:34%;
    color:black;
    margin-top: 4vh;
    margin-left:2vh;
    margin-bottom: 2vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
    /* font-weight: bolder; */

}

.rightSide {
    display:flex;
    color:black;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
    flex-direction: column;
    width:80%;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bolder;
    /* margin-bottom: 4vh; */
}

.cardPic {
    margin-top: 10%;
    width: 80%;
    height: 72%;

}




.topSide {
    display: flex;
    /* direction: ltr; */
    flex-direction: row;
    height: 61%;
    width: 90%;
    align-items: flex-end;
}

.botSide {
    text-transform: capitalize;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
    color: black;
    
}