:root {
  color-scheme: dark;
}

@font-face {
  font-family: 'Roboto';
  src: url('Coolvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.outerHolder{
  display: flex;
    width: 100%;  
    justify-content: space-evenly;
    align-content: stretch;
}

html {
  /* background-color: #041C32; */
  background-image: url("footdlebg.jpg");
  background-position: top, bottom;
    background-repeat: repeat-x, repeat-x;
}

body{
  color: white;
  font-family: 'Roboto';
  font-size: min(4vh, 4vw);;
}

.cardHolderOuter{
  display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

@media (max-width:550px)  { 
  .outerHolder{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: stretch;
    flex-direction: column;
  }

  .gencell{
    transform: rotate(-90deg);
  }


  div.holder {
    order: 1; 
    margin-bottom: 4vh;
  }

  div.cardHolderOuter{
    order:2;
  }
}