.guessWhoPlayerInput {
    width: 70%;
    max-width: 400px;
    font-family: 'Roboto';
    font-size: min(5vh, 5vw);
    background-color: #064663;
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    padding:min(5vh,5vw);
    text-transform: capitalize; 
    box-shadow: 0px 0px 12px white;

}

.guess_who_search_row{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.giveGlueButton{
    border-radius: 25px;
    background-color: #ECB365;
    border-color: gray;
    color: white;
    height:fit-content;
    padding:2vh;
    font-size: min(5vh, 5vw);;
    font-family: 'Roboto';
    /* font-weight: bolder; */
    transition: all 0.5s ease-in;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.giveGlueButton:disabled{
    background-color: gray;
    color: darkgray;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

.results{
    max-height: 50vh;
    background-color: darkslategray;
    overflow-y: auto;
    border-radius:  0 0 25px 25px;
    padding:1vh;
    width:75%;
}